@use "reset";

body {
    background-color: hsl(0, 0%, 90%);
    font-family: monospace;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 100ch;
    background-color: hsl(0, 0%, 85%);
    border: 1px solid black;
}

.field {
    width: 100ch;
    display: flex;
    border: 1px solid black;
    > button {
        width: 100%;
        padding: 1rem 0;
    }
}

.inventory {
}

.test {
}

