{% extends "base.njk" %}
{% block  content %}
<main>
    <div class="center">
        <h1>Test</h1>
        <div class="screen" id="game">
            
        </div>
        <div class="field">
            <div class="inventory">
                <p>INVENTORY</p>
                <ul id="inventory">
                    <li>Item</li>
                    <li>Item</li>
                    <li>Item</li>
                    <li>Item</li>
                </ul>
            </div>
            <div class="test">
                <p>OPTIONS</p>
                <ul id="inventory">
                    <li>Item</li>
                    <li>Item</li>
                    <li>Item</li>
                    <li>Item</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="js/mapGeneration.js"></script>
</main>
{% endblock %}